/*General CSS*/
input[type="radio"] {
  display: none;
}

form {
  margin-bottom: 30px;
}

.center-top {
  top: 50% !important;
  transform: translateY(-50%) !important;
}

/*General CSS End*/
.sidebar {
  max-width: 350px;
}

.sidebar #list-logo-item {
  padding-right: 0 !important;
}

.col-xl-9 {
  max-width: calc(100% - 350px);
}

.tm-copyright-text {
  font-size: 15px;
}



/*section2 - start*/

.card {
  background: #6b0003;
  border: 1px solid #fff;
}

.card .btn-link {
  color: #fff;
  width: 100%;
  margin: .75rem 1.25rem;
  height: 100%;
  font-size: 22px;
}

.card-header {
  padding: 0 !important;
}

.card .card-body a p {
  text-align: center;
  font-size: 25px;
}



.card .card-body a:hover {
  color: #fff;
  text-decoration: none;
}

.card .card-body a img:hover {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.47);
}

/*.card .collapse{*/
/*margin: 0 auto;*/
/*}*/
/*section2 - end*/
/*section3 - start*/
.partner-logo {
  max-width: 250px;
  width: 100%;
  height: 250px;
  margin: 0 auto;

}

#otk {
  background: url("../img/partners/otk.png") no-repeat center;
  background-size: contain;
}

#acm {
  background: url("../img/partners/acm.png") no-repeat center;
  background-size: contain;
}

#giyat {
  background: url("../img/partners/giyat.png") no-repeat center;
  background-size: contain;
}

#gmt {
  background: url("../img/partners/gmt.png") no-repeat center;
  background-size: contain;
}

#hends {
  background: url("../img/partners/hends.png") no-repeat center;
  background-size: contain;
}

#hit {
  background: url("../img/partners/hit.png") no-repeat center;
  background-size: contain;
}

#hot {
  background: url("../img/partners/hot.png") no-repeat center;
  background-size: contain;
}

#ieee {
  background: url("../img/partners/ieee.png") no-repeat center;
  background-size: contain;
}

#tm-section-3 h4,
#tm-section-0 h4 {
  text-align: center;
  margin-top: 10px;
  color: #ffe18e;
}

#tm-section-0 h2 {
  text-align: center;
  margin: 10px 0;

}

/* sponsorlar */
#anagold-sponsor {
  background: url("../img/sponsor/anagold.png") no-repeat center;
  background-size: contain;
}

#aselsan-sponsor {
  background: url("../img/sponsor/aselsan.png") no-repeat center;
  background-size: contain;
}

#armada-yazilim {
  background: url("../img/sponsor/armada_yazilim.png") no-repeat center;
  background-size: contain;
}

#dsm-sponsor {
  background: url("../img/sponsor/dsm.png") no-repeat center;
  background-size: contain;
}

#turksat-sponsor {
  background: url("../img/sponsor/turksat.png") no-repeat center;
  background-size: contain;
}

#yemekumbara {
  background: url("../img/sponsor/yemekumbara.png") no-repeat center;
  background-size: contain;
}

/*section3 - end */
/*section4 - start */
.survey-section>div>div.container {
  position: relative;
  max-width: 100% !important;

}

.survey-section>div>div.container .next-button {
  float: right;

}

.survey-section>div>div.container .pre-button {
  float: left;

}

.survey-section>div>div.container>span {
  padding-left: 20px;
  color: #cfcfcf;
  position: absolute;
  bottom: -110px;
  left: 0;
}

.survey-section .tm-contact-box-pad {
  border-radius: 8px;
  background-color: rgba(155, 50, 50, 0.45);
  border: 1px solid #fff;
  text-align: center;
}

#tm-section-1>div>header>h1 {

  text-align: center;
  margin: 0 auto;
  width: 70%;
  line-height: 55px;
  border: 4px solid #fff;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.48);
  cursor: pointer;
}

#tm-section-1>div>header>h1:hover {
  background-color: rgb(114, 0, 0);
  box-shadow: 0px 0px 7px 1px white;
}

/*section3 - end */
/*section4 - start*/

@media screen and (min-width: 320px) {
  .col-sm-4 {
    width: 33.333333% !important;
  }

  .col-md-3 {
    width: 50% !important;
  }
}

.wrap {
  posititon: relative;
  width: 100%;
  /*height: 100vh;*/
  background-color: #e5edf9;
}

.title {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 45px;
}

.quiz_block {
  /* padding: 0 20px; */
  overflow-x: hidden;
  overflow-y: auto;
  width: 740px;
  /* height: 390px; */
  border-radius: 4px;
  box-shadow: 0px 0px 10px silver;
  background-color: white;
  /* position: relative; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
}

.quiz_block_preheaded {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
}

.quiz_block_preheaded_title {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  color: red;
}

.quiz_block_preheaded_company {
  position: absolute;
  color: #0148ad;
  font-family: 'Roboto', sans-serif;
  right: 0;
}

.quiz_block_preheaded_title span {
  color: #08ad35;
}

.quiz_block_headed {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 0 10px;
}

.quiz_block_headed_progressbar {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: #e5edf9;
  border-radius: 5px;
  overflow: hidden;
}

.quiz_block_headed_progressbar_line {
  position: absolute;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #05c639;
  transition: .2s;
}

.quiz_block_headed_percent {
  position: relative;
  width: 100%;
  height: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #000;
}

.quiz_block_headed_percent span {
  padding: 0;
  margin: 0;
  color: #05c639;
  font-size: 12px;
}

/*  BODY_QUIZ  */
.quiz_block_body {
  position: relative;
  width: 100%;
  /*height: 300px;*/
}

.quiz_block_body_list {
  position: relative;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 5580px;
  /*height: 250px;*/
}

.quiz_block_body_list_item {
  position: relative;
  /*width: 780px;*/
  /*height: 100%;*/
  /*   margin-right: 20px; */
}

.quiz_block_body_list_item_title {
  position: relative;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  height: 20px;
  display: flex;
  align-items: center;
}

.quiz_block_body_list_item_content {
  /*width: 740px;*/
  /*height: 200px;*/
  display: flex;
  flex-wrap: wrap;
}

.quiz_block_body_list_item_content_block {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /*width: 150px;*/
  /*height: 180px;*/
  padding: 5px;
  margin-right: 20px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid silver;
  transition: .2s;
  box-shadow: 0px 2px 8px silver;
}

.quiz_block_body_list_item_content_block span {
  /*width: 100%;*/
  /*height: 30px;*/
  /* display: flex; */
  align-items: center;
  margin-left: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  transition: .2s;
  text-align: center;
}

.quiz_block_body_list_item_content_block img {
  padding-top: 0px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.quiz_block_body_list_item_content_block:hover {
  border: 1px solid #08ad35;
}

.quiz_block_body_list_item_content_block_checked {

  border: 1px solid #08ad35;
  background: rgba(8, 173, 53, 0.46);
}

.quiz_block_body_list_item_content_block:hover span {
  color: #08ad35;
}

.quiz_block_body_list_item_content_rect {
  position: relative;
  width: 350px;
  height: 40px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid silver;
  cursor: pointer;
  transition: .2s;
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.quiz_block_body_list_item_content_rect span {
  margin-left: 20px;
}

.quiz_block_body_list_item_content_rect:hover span {
  color: #08ad35;
}

.quiz_block_body_list_item_content_rect:hover {
  border: 1px solid #08ad35;
  box-shadow: 0px 2px 8px silver;
}

.quiz_block_body_list_item_content_rect_circ {
  right: 2%;
  top: 50%;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  background-color: silver;
  transform: translateY(-50%);
  position: absolute;
}

.quiz_block_body_btn_grup {
  position: relative;
  width: 100%;
  height: 50px;
}

.quiz_block_body_btn_grup a {
  position: absolute;
  display: block;
  text-decoration: none !important;
  width: 130px;
  height: 35px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.quiz_block_body_btn_grup button {
  border: none;
  position: absolute;
  display: block;
  text-decoration: none !important;
  width: 130px;
  height: 35px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.quiz_block_body_btn_grup_back {
  left: 0%;
  color: black;
  box-shadow: 0px 2px 8px silver;
}

.quiz_block_body_btn_grup_next {
  width: 180px !important;
  top: 0%;
  right: 0%;
  color: white;
  box-shadow: 0px 2px 8px #09892c;
  background-color: #08ad35;
}

.quiz_block_body_btn_grup_company {
  left: 35%;
  font-size: 12px !important;
  color: #08ad35;
}

/* .quiz_block_body_btn_grup_next:active {
  box-shadow:inset 0px 2px 8px #09892c;
}
.quiz_block_body_btn_grup_back:active {
  box-shadow:inset 0px 2px 8px darkgray;
} */

/*section4 - end */